<nav class="nav flex-column">
  <div class="navbar-brand">
    <a href=""><span>A</span>gustin<br><span>C</span>ollueque</a>
  </div>
  <ul class="nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sobre Mi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Trabajos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contacto</a>
    </li>
  </ul>
</nav>
