<aside id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><fa-icon [icon]="close"></fa-icon></a>
  <div class="nav" id="aside">
    <ul class="nav-tabs" id="listaBarraLat">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre-mi">Sobre Mi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formacion">Formación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trabajos">Trabajos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</aside>
<a href="javascript:void(0)" class="openbtn" (click)="openNav()"><fa-icon [icon]="open"></fa-icon></a>
