<ng-template #contenido let-modal>
  <div class="modal-header">
    <h5>Agregar Habilidad</h5>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addForm="ngForm" (ngSubmit)="agregarHabilidad(addForm)">
      <div class="form-group">
        <label for="nombreHab">Nombre</label>
        <input type="text" ngModel name="nombre" class="form-control" id="nombreHab" placeholder="nombre"
          required>
      </div>
      <div class="form-group">
        <label for="urlLogo">URL logo</label>
        <input type="text" ngModel name="logo" class="form-control" id="urlLogo" placeholder="logo" required>
      </div>
      <div class="form-group">
        <label for="nombreHab">Porcentaje</label>
        <input type="text" ngModel name="porcentaje" class="form-control" id="porcHab" placeholder="%"
          required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" (click)="agregarHabilidad(addForm)">Agregar</button>
  </div>
</ng-template>
<button class="btn btn-outline-success" type="button" (click)="openModal(contenido)"><fa-icon [icon]="add"></fa-icon></button>
