<ng-template #contenido let-modal let-hab>
  <div class="modal-header">
    <h5>Editar Habilidad</h5>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addForm="ngForm" (ngSubmit)="editarHabilidad(addForm)">
      <div class="form-group">
        <label for="idHab">Id</label>
        <input type="hidden" ngModel="{{editHabilidad?.id}}" name="id" class="form-control" id="idHab" placeholder="id"
          required>
      </div>
      <div class="form-group">
        <label for="nombreHab">Nombre</label>
        <input type="text" ngModel="{{editHabilidad?.nombre}}" name="nombre" class="form-control" id="nombreHab" placeholder="nombre"
          required>
      </div>
      <div class="form-group">
        <label for="urlLogo">URL logo</label>
        <input type="text" ngModel="{{editHabilidad?.logo}}" name="logo" class="form-control" id="urlLogo" placeholder="logo" required>
      </div>
      <div class="form-group">
        <label for="nombreHab">Porcentaje</label>
        <input type="text" ngModel="{{editHabilidad?.porcentaje}}" name="porcentaje" class="form-control" id="porcHab" placeholder="%"
          required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" (click)="editarHabilidad(addForm)">Editar</button>
  </div>
</ng-template>
<button class="btn btn-outline-success" type="button" (click)="openModal(contenido)"><fa-icon [icon]="edit"></fa-icon></button>
