<section class="contacto contenido-principal">
  <div class="container p-3">
    <div class="titulo">
      <h1>Contáctame</h1>
    </div>
    <h3>¿Tienes alguna pregunta?</h3>
    <h4>Estoy a tu servicio</h4>
    <div class="info-contacto">
      <fa-icon [icon]="telef"></fa-icon>
      <h4>LLámame</h4>
      <p>+54 294 471 6770</p>
    </div>
  </div>
  <div class="container">
    <h3>Envíame un email</h3>
    <h4>Estoy muy atento a los mensajes</h4>
    <p>Aqui deberia ir el formulario</p>
  </div>
</section>
