.navbar {
  height: 10%;
  z-index: 10;

  .container-fluid {
    .navbar-brand {
      font-family: 'Roboto', sans-serif;
      font-size: var(--tamanioTitulo);
      color: var(--textoPrimario);
    }

    .navbar-toggler{


    .navbar-toggler-icon {
      background-image: none;
      font-size: 25px;
      display: inline;
    }}

    .nav-item {
      margin-right: 35px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            fa-icon {
              color: var(--textoPrimario);
              font-size: 20px;
            }

            fa-icon:hover {
              color: white;
            }
          }
        }
      }

      .botones {
        .btn:hover {
          color: white;
        }

        button {
          color: var(--textoPrimario);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .show {
    display: flex;
  }

  .navbar-collapse {
    .navbar-nav {
      flex-direction: row;
    }
  }
}
