<nav class="navbar navbar-expand-md align-items-center justify-content-between p-3">
  <a class="navbar-brand d-sm-block d-none" href="javascript:void(0)">Argentina Programa</a>
  <div class="links d-flex align-items-center">
    <div class="dropdown mx-2">
      <button class="dropdown-toggle btn" type="button" data-bs-toggle="dropdown">
        redes
      </button>
      <ul class="dropdown-menu text-center">
        <li>
          <a class="dropdown-item" href="#">
            <fa-icon [icon]="face"></fa-icon>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <fa-icon [icon]="insta"></fa-icon>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <fa-icon [icon]="git"></fa-icon>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <fa-icon [icon]="link"></fa-icon>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <fa-icon [icon]="what"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
    <button (click)="cambiarTema()" class="mx-2 btn">
      <fa-icon [icon]="dark" *ngIf="temaActual == 'default'"></fa-icon>
      <fa-icon [icon]="light" *ngIf="temaActual == 'dark'"></fa-icon>
    </button>
    <button type="button" class="btn mx-2">login</button>
  </div>
</nav>
