<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Argentina Programa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-5">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="face"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="insta"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="git"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="link"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="what"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-success">Log in</button>
  </div>
</nav>
