<section class="espaciado text-center">
  <div class="container">
    <div class="titulo p-3">
      <h1>Formación</h1>
    </div>
    <div class="row p-3" *ngFor="let formacion of this.formaciones">
      <div class="col">
        <img [src]="formacion.imagen" alt="img-item-formacion">
        <h4>{{formacion.titulo}}</h4>
        <div class="descripcion p-2">
          <p>{{formacion.tiempo}}</p>
          <a [href]="formacion.enlace">link</a>
        </div>
      </div>
    </div>
  </div>
</section>
