<section class="espaciado text-center">
  <div class="container">
    <div class="titulo p-3">
      <h1>Formación</h1>
    </div>
    <div class="row p-3">
      <div class="col">
        <img src="assets/SISIRIUS.jpg" alt="img-item">
        <h4>Centro de educación media n° 6</h4>
        <div class="descripcion p-2">
          <p>Bachillerato en Matemática</p>
          <p>5 años</p>
          <a href="">enlace</a>
        </div>
      </div>
      <div class="col">
        <img src="assets/SISIRIUS.jpg" alt="img-item">
        <h4>Centro de educación media n° 6</h4>
        <div class="descripcion p-2">
          <p>Bachillerato en Matemática</p>
          <p>5 años</p>
          <a href="">enlace</a>
        </div>
      </div>
      <div class="col">
        <img src="assets/SISIRIUS.jpg" alt="img-item">
        <h4>Centro de educación media n° 6</h4>
        <div class="descripcion p-2">
          <p>Bachillerato en Matemática</p>
          <p>5 años</p>
          <a href="">enlace</a>
        </div>
      </div>
    </div>
  </div>
</section>
