span {
  font-family: 'Ms Madi';
  font-size: 30px;
}

.info {
  font-family: 'Lucida Sans';
  font-size: var(--tamanioTextoPorDefecto);
  background: linear-gradient( var(--colorFuerte) , var(--colorDebil));
  color: var(--textoPrimario);
}
