<div class="espaciado text-center">
  <div class="p-3">
    <h1>Portfolio</h1>
  </div>
  <div class="container">
    <h3>Mis últimos proyectos</h3>
    <div class="row text-center">
      <div class="col">
        <p>Proyecto 1</p>
        <img src="assets/SISIRIUS.jpg" alt="img-proy-1">
        <p>Descripcion</p>
      </div>
      <div class="col">
        <p>Proyecto 1</p>
        <img src="assets/SISIRIUS.jpg" alt="img-proy-1">
        <p>Descripcion</p>
      </div>
    </div>
  </div>
</div>
