.sobre-mi {
  background: linear-gradient(var(--colorFuerte), var(--colorDebil));
  color: var(--textoPrimario);
  overflow: auto;

  .container-fluid {
    .row {
      .hab-item {
        p {
          font-family: monospace;
          font-size: var(--tamanioTextoPorDefecto);
          margin: 0;
        }

        .progress .progress-bar {
          background: var(--colorDebil);
        }
      }
    }
  }

  .btn {
    color: var(--textoPrimario);
  }

  .btn:hover {
    background: var(--colorDebil);
  }
}
