<div class="sobre-mi espaciado text-center">
  <div class="p-2 pb-3">
    <h1>Perfil Profesional</h1>
    <div class="px-4 mi-perfil">
      <p>Tengo 26 años y soy programador web full stack.
        <br>Me considero una persona proactiva, responsable y
        con mucha energía.
        <br>Soy un apasionado por el desarrollo web y estoy en búsqueda constante del conocimiento.
      </p>
    </div>
    <div class="row row-cols-2 info-personal" *ngIf="this.usuario">
      <div class="info-item">
        <p>Fecha de Nacimiento: <span>{{this.usuario.fechaNacimiento}}</span></p>
      </div>
      <div class="info-item">
        <p>Nombre: <span>{{this.usuario.nombre}}</span></p>
      </div>
      <div class="info-item">
        <p>Apellido: <span>{{this.usuario.apellido}}</span></p>
      </div>
      <div class="info-item">
        <p>Estado civil: <span>{{this.usuario.estado}}</span></p>
      </div>
    </div>
    <div>
      <a href="#" class="btn">Descargar CV</a>
      <a routerLink="/contacto" class="btn">Contáctame</a>
    </div>
  </div>
  <div class="container-fluid p-5">
    <h1>Habilidades</h1>
    <div class="row" *ngFor="let habilidad of this.habilidades">
      <div class="col-12 col-sm-6 hab-item pe-5 pb-3">
        <p>{{this.habilidad.nombre}}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
