<section class="sobre-mi espaciado text-center h-100 w-100">
  <div class="p-2 ps-3 pb-3">
    <h1>Perfil Profesional</h1>
    <div class="px-4 mi-perfil">
      <p>Tengo 26 años y soy programador web full stack.
        <br>Me considero una persona proactiva, responsable y
        con mucha energía.
        <br>Soy un apasionado por el desarrollo web y estoy en búsqueda constante del conocimiento.
      </p>
    </div>
    <div class="row row-cols-2 info-personal ms-4">
      <div class="info-item">
        <p>Fecha de Nacimiento: <span>07/11/1997</span></p>
      </div>
      <div class="info-item">
        <p>Fecha de Nacimiento: <span>07/11/1997</span></p>
      </div>
      <div class="info-item">
        <p>Fecha de Nacimiento: <span>07/11/1997</span></p>
      </div>
      <div class="info-item">
        <p>Fecha de Nacimiento: <span>07/11/1997</span></p>
      </div>
    </div>
    <div>
      <a href="#" class="btn">Descargar CV</a>
      <a routerLink="/contacto" class="btn">Contáctame</a>
    </div>
  </div>
  <div class="container-fluid p-5">
    <h1>Habilidades</h1>
    <div class="row">
      <div class="col-12 col-sm-6 hab-item pe-5 pb-3">
        <p>HTML</p>
        <div class="progress">
          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 hab-item pe-5 pb-3">
        <p>CSS</p>
        <div class="progress">
          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 hab-item pe-5 pb-3">
        <p>Javascript</p>
        <div class="progress">
          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 hab-item pe-5 pb-3">
        <p>Bootstrap</p>
        <div class="progress">
          <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
