<section class="sobre-mi contenido-principal">
  <div class="titulo p-4">
    <h1>Mi perfil</h1>
  </div>
  <div class="contenedor ms-3 mb-3">
    <div class="mi-perfil">
      <h3> Soy Agustin Collueque y soy desarrollador web.</h3>
      <p class="p-2">Nací en Ingeniero Jacobacci, un pueblo al sur de Rio Negro.
        <br>Tengo 26 años, soy proactivo y me gusta trabajar en equipo.
        <br>Me considero una persona atenta, positiva y con mucha energía. Listo para adherirme rápidamente a un grupo
        de trabajo</p>
    </div>
    <div class="info-personal ms-4">
      <div class="info-item">
        <p>Fecha de Nacimiento: <span>07/11/1997</span></p>
      </div>
    </div>
    <a href="#" class="btn">Descargar CV</a>
  </div>
  <div class="contenedor ms-3">
    <div class="habilidades pb-5">
      <h3>Habilidades</h3>
      <ul>
        <li class="hab-item">
          <h5>HTML</h5>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="experiencia pb-5">
      <h3>Experiencia</h3>
      <ul>
        <li class="exp-item">
          ¿Conseguiré que no quede vacío? :(
        </li>
      </ul>
    </div>
  </div>
</section>
